<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chart JS tutorial for beginners</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body class = 'bg-success'>

    <div class = 'card-group'>
        <div class = 'card' style = 'width:40% heights:40%; margin : 10px;'>
            <div class = 'card-body'>
            <h5>Summary</h5>
            <hr>
            <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class = 'card' style= 'width:40%; height:40%; margin : 10px;'>
          <div class = 'card-body'>
          <h5>Summary</h5>
          <hr>
          <canvas id="pie_chart"></canvas>
          </div>
      </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

    <script>
    let array = [{%for data in data%} '{{ data.sleep|floatformat:"2" }}', {% endfor %}]
    console.log(array)

    const ctx = document.getElementById('myChart');
    
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{%for num in range%} '{{ num|floatformat:"0" }}', {% endfor %}],
        datasets: [{
          label: 'Sleep',
          data: [{%for data in data%} '{{ data.sleep|floatformat:"2" }}', {% endfor %}],
          borderColor:['blue'],
          borderWidth: 1,
        },
        {
          label: 'Awake',
          type : 'line',
          fill : false,
          backgroundColor: 'rgb(255, 204, 0)',
          borderColor: 'rgb(255, 204, 0)',
          data: [{%for data in data%} '{{ data.awake|floatformat:"2" }}', {% endfor %}]
      }

        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });



    let pie_chart = document.getElementById('pie_chart').getContext('2d');

    var chart2 = new Chart(pie_chart,{
      type : 'doughnut',
      data:{
        labels:['awake','sleep'],
        datasets:[
        {
          label:'percentage',
          data: [{%for c in counts%} '{{ c }}', {% endfor %}],
        }],
      }
    }


    )


</script>

</body>
</html>